.navbar-home {
	border: 2px solid brown;
	margin-top: 5px;
	color: brown;
}

.navbar{
	color: brown;
}


.image{ 
	padding-left:30px; 
	
}

.head{
	color: white;
}

.jumbotron{
	padding-top: 50px;
	padding-bottom: 100px;
	background-size: cover;
	border-spacing: 10px;
	border-top:transparent;
	margin: 0px;
	color: #ffff;
	height: 475px;
	background-blend-mode: overlay;
	background-color:  rgb(59, 12, 12);
}

.footer{
	background-color: rgb(59, 12, 12);
	height: 80px;
	margin-bottom: 10px;
	color: white;
	margin-top: 20px;
}